.touchpad {
  --text: #bbb;
  width: 80vw;
  height: 80vw;
  max-width: 90%;
  position: relative;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: 992px) {
    width: 500px;
    height: 500px;
  }

  .ball {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-color: var(--ion-color-primary);
    border-radius: 100%;
    position: absolute;
    bottom: calc(50% - 32px);
    right: calc(50% - 30px);
    cursor: grab;
    z-index: 10;
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    // transform: rotate(180deg);
    padding-right: 10px; /* Adjust the spacing as needed */
    font-size: 12px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    letter-spacing: 0ch;
    color: var(--text);
  }

  .bottom-text {
    position: absolute;
    bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 12px;
  }
}
