#listen-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  place-items: center;
  height: 100%;
  background-color: #111;
  background: linear-gradient(rgb(55, 55, 57) 0%, rgb(22, 22, 22) 100%);
  position: relative;
}

ion-content {
  .background {
    z-index: 0;
  }
}
