#auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .login-box {
    width: 600px;
    max-width: 90%;
    margin-top: 8rem;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 1rem;
      }
    }
  }
  button {
    color: white;
    background-color: var(--ion-color-primary);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    display: block;
    margin: 1rem auto;
    width: 90%;
  }

  .legal-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .legal-button {
    color: white;
    font-size: 0.75rem;
  }
}
