#player-container {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-radius: 0;
  padding-right: 2rem;
  padding-left: 0.5rem;
  // backdrop-filter: blur(4px);
  background: var(--ion-color-primary);
  color: black;

  ion-icon {
    color: black;
    font-size: 64px;
  }
}
